<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
<table class="w-full border-collapse border">

    <thead>
    <tr class="bg-gray-200">
        <th class="border p-2">ID</th>
        <th class="border p-2">File</th>
        <th class="border p-2">Download</th>
        <th class="border p-2">Delete</th>
    </tr>
    </thead>

    <tbody>
    <tr th:each="file : ${files}">

        <td class="border p-2"
            th:text="${file.id}">
        </td>

        <td class="border p-2"
            th:text="${file.fileName}">
        </td>

        <td class="border p-2">

            <a th:href="@{/api/files/download/{id}(id=${file.id})}"
               class="bg-blue-500 text-white px-3 py-1 rounded">
                Download
            </a>

        </td>

        <td class="border p-2">

            <form th:action="@{/instructor/files/delete/{id}(id=${file.id})}"
                  method="post">

                <button
                        class="bg-red-500 text-white px-3 py-1 rounded">

                    Delete

                </button>

            </form>

        </td>

    </tr>
    </tbody>

</table>
</body>
</html>